#root {
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: rgb(240, 214, 148);
    padding: 0rem 1rem 0rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;


}

.post-detail>a {
    color: brown;
}


.layout {
    width: 85vw;
    display: flex;
    flex-direction: column;
}



.logo {
    color: wheat;
    background-color: brown;

    margin-bottom: 2px;

}

main {
    display: flex;
    border-radius: 10px 10px 10px 10px;
    background-color: w;
    width: auto;
    height: fit-content;
    color: brown;


}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    padding: 10px 20px;
    border-radius: 0px 0px 20px 20px;

}

.post-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;

}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

.btn-logout {
    
    margin: 0px;
}

.post {
    background-color: brown;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.post a {
    color: wheat;
    font-weight: bolder;
    font-size: large;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: wheat;
    border-style: solid;
    justify-content: space-between;
    flex-wrap: wrap;

}

.user span {
    display: flex;
    justify-content: center;
    align-items: center;
}


.fakeimg {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 12px;
}

.author {
    font-weight: 600;
    margin: 0;
    color: brown;
}

.content {

    font-size: 16px;
    color: wheat;
    padding: 0vw 2vw 0vw 2vw;
    text-align: left;


}

.content h1 {
    font-size: larger;
}

.actions {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
}


nav>ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
}

nav ul li a {
    font-size: 1rem;
    color: #333333;
    text-decoration: none;
    padding: 1px 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {


    color: brown;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}



.post-form {
    background: brown;
    padding: 50px;
    width: 20vw;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: wheat;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-input:focus,
.form-textarea:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: wheat;
    color: brown;
    margin-right: 10px;
}

.btn-delete {
    background-color: brown;
    color: wheat;
    margin-right: 10px;
}

.search-form {
    display: flex;

}

.search-form>input {
    border-radius: 25px;
    padding: 0px 15px 0px 15px;
    border: none;
    margin-right: 10px;


}