#root {
    width: 95vw;
    height: auto;
    margin: 0 auto;
    background-color: white;
    padding: 0rem 1rem 0rem 1rem;
    text-align: center;
    
}

.layout {
    display: flex;
    flex-direction: column;
    
    
}



.logo {
    color: wheat;
    background-color: brown;
    
    margin-bottom: 2px;

}

main {
    display: flex;
    justify-content: center;
    border-radius:  10px 10px 10px 10px;
    background-color: wheat;
    width: auto;
    height: 100vw;
    color: brown;
    align-items: flex-start;


}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    border-radius:  0px 0px 20px 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: wheat;
    padding: 10px 20px;
    border-radius:  0px 0px 20px 20px;

}

.posts{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.post {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
    margin: 16px auto;
    max-width: 550px;
    height: fit-content;
    padding: 0px 0px 30px 0px;
    background-color: brown;

  }
  
  .user {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: wheat;
    border-style: solid;

  }

  
  .fakeimg {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 12px;
  }
  
  .author {
    font-weight: 600;
    margin: 0;
    color: brown;
  }
  
  .content  {
    
    font-size: 16px;
    color: wheat;
    padding: 0vw 2vw 0vw 2vw;
    text-align: left;

  }
  
  .content h1 {
    font-size: larger;
  }

nav > ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
}

nav ul li a {
    font-size: 1rem; 
    color: #333333; 
    text-decoration: none;
    padding: 1px 5px;
    border-radius: 4px; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {


    color: brown;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}
